# Ambiente
APP_ENV=development

# Backend
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000

# Protheus
PROTHEUS_BASE_URL=http://127.0.0.1:8080
PROTHEUS_TIMEOUT_SECONDS=8
PROTHEUS_TOKEN=

# Flags
USE_PROTHEUS_STUB=true
